<div class="section section-bg1">
  <h1 class="section-title">Satisfação</h1>
  <p class="section-subtitle">Monitoramento do cliente por tipo de plataforma</p>
  
  <div class="charts-container">
    <!-- Gráfico iOS -->
    <div class="chart-wrapper styled-chart">
      <canvas id="iosChart"></canvas>
    </div>

    <!-- Gráfico Android -->
    <div class="chart-wrapper styled-chart">
      <canvas id="androidChart"></canvas>
    </div>
  </div>
</div>

<div class="section section-bg2">
  <h1 class="section-title">Testes</h1>
  <p class="section-subtitle">Quantidade de testes automáticos por navegador</p>
  
  <div class="charts-container">
    <!-- Gráfico de Testes Automáticos por Navegador -->
    <div class="chart-wrapper styled-chart">
      <canvas id="browserChart"></canvas>
    </div>
  </div>
</div>

<div class="section section-bg3">
  <h1 class="section-title">Colaboradores</h1>
  <p class="section-subtitle">Colaboradores alocados para o suporte e desenvolvimento dessas plataformas</p>

  <div class="charts-container donuts-container">
    <!-- Gráfico Desenvolvedores -->
    <div class="donut-wrapper">
      <canvas id="devsChart"></canvas>
    </div>

    <!-- Gráfico Suporte -->
    <div class="donut-wrapper">
      <canvas id="supportChart"></canvas>
    </div>

    <!-- Gráfico QA/Testes -->
    <div class="donut-wrapper">
      <canvas id="qaChart"></canvas>
    </div>
  </div>
</div>
