<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label for="check" class="checkbtn-close">
        <i class="fas fa-times"></i>
      </label>
      <div class="logo-container">
        <a routerLink="/home">
          <!-- Logo da empresa -->
          <img src="assets/imgs/logo-watch-rn.png" alt="Logo" class="logo-image">
        </a>
      </div>
      <ul class="menu">
        <li><a href="#" routerLink="/home">Início</a></li>
        <li><a href="#" routerLink="/home">Satisfação</a></li>
        <li><a href="#" routerLink="/moedas">Testes</a></li>
        <li><a href="#" routerLink="/conversao-de-moedas">Roteiro</a></li>
      </ul>
    </nav>
  </header>
  