<header>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label for="check" class="checkbtn-close">
      <i class="fas fa-times"></i>
    </label>
    <div class="logo-container">
      <a routerLink="/home">
        <img src="assets/imgs/logo-watch-rn.png" alt="Logo" class="logo-image">
      </a>
    </div>
    <ul class="menu">
      <li><a href="#inicio">Início</a></li>
      <li><a href="#satisfacao">Satisfação</a></li>
      <li><a href="#testes">Testes</a></li>
      <li><a href="#roteiro">Roteiro</a></li>
      <li><a href="#" class="btn-acesso" routerLink="/login">Acesso à Plataforma</a></li>
    </ul>
  </nav>
</header>